.rantApp{
    background-color: #c7fffc;
    text-align: center;
    height: 30em;
    padding: 5em 5%;
}

.greeting{
    visibility: visible;
}

.rantApp p, .rantApp h3{
    color: #676767;
}

.rantApp form{
    margin: 2em auto;
    max-width: 20em;
}

.rantApp h3{
    margin-bottom: 1em;
}

.rantApp textarea {
    width: 80%;
    max-width: 30em;
    height: 15em;
    border-radius: 0.7em;
    border-width: 2px;
    font-size: 12px;
    margin: 0 0 1em 0;
    border-color: #00dacd;
    padding: 0.3em;
}

.rantApp button{
    background-color: #00dacd;
    color: #ffffff;
    width: 10em;
    height: 3em;
    font-size: 20px;
    font-weight: 600;
    border-radius: 4px;
    border-width: 0;
}

.hidden {
    display: none;
}